* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
}

.menu {
  width: 10%;
  height: auto;
  opacity: 0.7;
  margin-bottom: 12px;
}

.youtube {
  width: 50%;
  height: auto;
}

.searchbar {
  width: 60%;
}

.search input {
  width: 89%;
  line-height: 1.5em;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 7px;
}

.search button {
  width: 10%;
  border-radius: 0;
  padding: 7px;
  float: right;
}

.signin img {
  width: 15%;
  float: left;
  margin-left: 50px;
}

.search button img {
  width: 15px;
}

.signin {
  width: 20%;
}

.signin button {
  border-radius: 4px;
  background: #157ac6;
  padding: 10px;
  border: 0;
  color: #fff;
  float: right;
  margin-right: 50px;
}

.videos {
  width: 100%;
  display: block;
  position: relative;
}

div.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.main-video {
  width: 70%;
  float: left;
  padding: 0 20px;
  margin-top: 0;
}

div.icons .left {
  width: 70%;
}

.subscribe button {
  background: #ff4700;
  color: white;
  border-radius: 2px;
  padding: 0;
  position: relative;
  border: 1px solid #ddd;
}

.subscribe button img {
  margin: 5px 0;
  width: 10%;
}

.subscribe span {
  font-size: 1.4em;
  float: right;
  border-bottom: 2px solid rgb(22, 122, 198);
}

div.icons .left button {
  display: inline-block;
  width: 10%;
  font-size: 0.8rem;
  color: #555;
  padding: 10px 0;
  background: none;
  border: none;
}

div.icons .left button img {
  width: 20%;
}

div.icons .right button {
  display: inline-block;
  width: 40%;
  font-size: 1rem;
  color: #555;
  background: none;
  border: none;
}

div.icons .right button img {
  width: 20%;
}

div.icons .right {
  width: 20%;
}

.main-video video {
  width: 100%;
}

.side-videos {
  width: 30%;
  margin-top: 0;
  float: left;
}

.side-videos div {
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
}

div.side-videos div video {
  width: 50%;
  display: inline;
  float: left;
}

.sub-content p {
  font-size: 1.5rem;
}

.subscribe p {
  font-size: 1rem;
}

div.side-videos div p {
  width: 50%;
  display: inline;
  font-size: 0.9rem;
  padding: 5px;
}

.subscribe button span {
  background: white;
  color: #111;
  position: absolute;
  right: 0;
  padding: 9px;
  padding-bottom: 0;
  border-bottom-width: 0;
}

div.side-videos div p span {
  display: block;
  font-size: 12px;
  color: #777;
  margin: 5px;
}

.owner {
  color: white;
  padding: 10px;
  background: #689f38;
  width: 50px;
  height: 50px;
  float: left;
}

.subscribe {
  width: 80%;
  float: left;
  margin-left: 10px;
}
